@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    min-height: 100svh;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: #777;
}

header {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

header img {
    width: 150px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 15px;
}

nav ul li {
    list-style: none;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    color: #bbb;
    transition: color .2s ease;
}

nav ul li a:hover {
    color: #b13030;
}

#banner{
    height: 100%;
    background-color: #fff;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Modals */

abbr {
    font-weight: bold;
}

.modalDialog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(181, 9, 9, .8);
    z-index: 9999;
    pointer-events: none;
    transition: opacity .2s ease-out;
    opacity: 0;
}

.modalDialog p {
    text-indent: 20px;
    text-align: justify;
    hyphens: auto;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
    transition: opacity .2s ease-in;
}

.modalDialog > div {
    position: relative;
    max-width: 500px;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.modalDialog p {
    margin-top: 5%;
    margin-bottom: 5%;
}

.modalDialog img{
    width: 50%;
    position: relative;
    margin-left: 25%;
}

.close {
    background-color: #606060;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
}

.close:hover{
    background-color: #b50909;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 48px;
    padding: 1em;
    background-color: #b50909;
    color: #fff;
}

@media (max-width: 700px) {
    footer {
        flex-direction: column;
        padding: 30px;
    }

    #banner {
        height: 300px;
    }
}

footer h2 {
    font-size: 1.4rem;
}

footer .footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 250px;
    text-align: center;
}

footer .footer-text a { color: #fff; }

/* Main two */

.img-titulo {
    padding: 20px;
}

#main-two-columns {
    display: grid;
    grid-template-columns: 200px 1fr;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #main-two-columns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-titulo {
        max-width: 350px;
    }
}